* {
    background-color: rgb(7, 7, 7);
    box-shadow: 5px 5px 50px 50px rgba(252, 5, 5, 0, 699);
    animation: animateBg 5s linear infinite;
    transition: 0.25s;
    
}
    

.page1 {
    color: #09c6f5;
    text-align: center;
    margin-top: 250px;
    font-family: sans-serif;
    box-shadow: 5px 5px 50px 50px rgba(252, 5, 5, 0, 699);
    animation: animateBg 5s linear infinite;

}

.page1 button {
    background-color: #0983f5;
    color: #f5faf9;
    border: none;
    padding: 10px 30px;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 20px;
}
